/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer {
  background-color: #4e4e50;
  font-size: 1em;
  width: 100%;
  position: relative;
  z-index: 10;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.9em; }
  footer h1 {
    color: #b3b3b3;
    font-size: 1.2em;
    clear: left; }
  footer p {
    color: #FFF;
    font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .95em;
    font-weight: 200; }
  footer address {
    border-bottom: 1px solid #666;
    padding-bottom: 40px; }
    footer address:after {
      content: "";
      display: table;
      clear: both; }
    footer address h1 {
      color: #FFF; }
    footer address p {
      color: #858585;
      line-height: 20px;
      margin-bottom: 0 !important;
      font-style: italic; }
    footer address:nth-child(1) {
      border-bottom: none;
      padding-top: 25px; }
  footer .extended {
    display: block;
    padding: 5%; }
    footer .extended:after {
      content: "";
      display: table;
      clear: both; }
    footer .extended .logo {
      max-width: 300px;
      padding-bottom: 10px; }
  footer .social {
    padding-top: 40px;
    padding-bottom: 20px; }
    footer .social:after {
      content: "";
      display: table;
      clear: both; }
    footer .social li {
      border-radius: 3px;
      float: left;
      padding: 3px; }
      footer .social li a {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        color: #FFF;
        display: block;
        font-size: 18px;
        line-height: 30px;
        padding: 7px 10px 5px 10px; }
        @media (max-width: 400px) {
          footer .social li a {
            background-color: transparent; } }
        footer .social li a:hover {
          background-color: rgba(0, 0, 0, 0.4); }
          @media (max-width: 400px) {
            footer .social li a:hover {
              background-color: transparent; } }
    @media (max-width: 700px) {
      footer .social {
        width: 220px;
        margin: 0 auto; } }
  footer .policies {
    font-size: 12px;
    font-weight: 500; }
    footer .policies li {
      display: block; }
    footer .policies a:link, footer .policies a:visited {
      color: #fff;
      text-decoration: none; }
    footer .policies a:hover {
      text-decoration: underline; }
  footer .left {
    float: left;
    max-width: 475px;
    width: 60%; }
    footer .left p {
      padding-top: 20px;
      border-bottom: 1px solid #666;
      padding-bottom: 30px; }
    @media (max-width: 700px) {
      footer .left {
        float: none;
        width: 100%;
        max-width: 1000px; } }
  footer .right {
    float: right;
    max-width: 550px;
    margin-right: 200px; }
    @media (max-width: 1050px) {
      footer .right {
        margin-right: 0px; } }
    @media (max-width: 700px) {
      footer .right {
        float: none;
        width: 100%;
        max-width: 1000px; } }
  footer .vertical-links {
    margin-top: 40px; }
    footer .vertical-links:after {
      content: "";
      display: table;
      clear: both; }
    footer .vertical-links li {
      border-radius: 3px;
      float: left;
      height: 65px;
      margin-right: 2%;
      margin-bottom: 3%;
      text-align: center;
      width: 30%; }
      footer .vertical-links li img.sbn {
        margin-top: 18px;
        max-width: 100px;
        width: 100%; }
      footer .vertical-links li img.verge {
        margin-top: 20px;
        max-width: 90px;
        width: 100%; }
      footer .vertical-links li img.polygon {
        margin-top: 10px;
        max-width: 90px;
        width: 100%; }
      footer .vertical-links li img.curbed {
        margin-top: 10px;
        max-width: 100px;
        width: 100%; }
      footer .vertical-links li img.eater {
        margin-top: 20px;
        max-width: 90px;
        width: 100%; }
      footer .vertical-links li img.racked {
        margin-top: 9px;
        max-width: 90px;
        width: 100%; }
      footer .vertical-links li img.voxdotcom {
        margin-top: 9px;
        max-width: 82px;
        width: 100%; }
      footer .vertical-links li a {
        background-color: rgba(0, 0, 0, 0.2);
        display: block;
        text-decoration: none;
        max-width: 140px;
        height: 65px;
        width: 100%; }
        @media (max-width: 400px) {
          footer .vertical-links li a {
            background-color: transparent; } }
        footer .vertical-links li a:hover {
          background-color: rgba(0, 0, 0, 0.4); }
          @media (max-width: 400px) {
            footer .vertical-links li a:hover {
              background-color: transparent; } }
  footer .copyright-bar {
    padding-top: 20px;
    background-color: #181819;
    width: 100%; }
    footer .copyright-bar:after {
      content: "";
      display: table;
      clear: both; }
    footer .copyright-bar p, footer .copyright-bar a {
      color: #858585;
      padding: 0px 13.5%;
      margin-bottom: 0;
      padding-bottom: 20px; }
      footer .copyright-bar p:nth-child(1), footer .copyright-bar a:nth-child(1) {
        border-bottom: none; }
    footer .copyright-bar a:hover {
      color: #f6680a; }
    footer .copyright-bar .right {
      max-width: 375px;
      width: 40%; }
    footer .copyright-bar .vox-links {
      position: absolute;
      right: 5%; }
      @media (max-width: 700px) {
        footer .copyright-bar .vox-links {
          left: 5%; } }
      footer .copyright-bar .vox-links li {
        display: inline-block;
        margin-left: 25px; }
        footer .copyright-bar .vox-links li:nth-child(1) {
          margin-left: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

html, body, .header {
  height: 100%; }

body {
  background: #fff;
  color: #000000;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

a {
  outline: none;
  color: #fdb415;
  text-decoration: none; }

a:hover, a:focus {
  color: #fdb415; }

li {
  display: inline-block;
  padding: 0; }

.pp-icon {
  position: relative;
  float: left;
  padding: .4em 0 0 .4em;
  margin: 0 0 0 5em; }

.pp-icon a:hover,
.pp-icon a.current-demo {
  opacity: 0.7; }

.codrops-demos {
  position: relative;
  float: right;
  padding: .6em .2em 0 0; }

.codrops-demos a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 0.3em;
  display: inline-block;
  margin: 0 0.5em;
  white-space: nowrap;
  color: #fdb415; }

.codrops-demos a:hover,
.codrops-demos a.current-demo {
  opacity: 0.7;
  color: #fdb415; }

.related {
  padding: 3em 0;
  text-align: center;
  font-size: 1.5em;
  position: relative; }

.demo-5 .related {
  width: 60%;
  margin-left: 40%; }

@media screen and (max-width: 40em) {
  .codrops-icon span {
    display: none; }

  .related {
    font-size: 80%; } }
/* Header */
.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%; }

.title {
  padding: 10em;
  text-align: center; }

.title h1 {
  padding: 0 0 0.2em;
  color: #000000;
  font-weight: 800;
  font-size: 3.25em; }

.title p {
  color: #000000;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 0.85em; }

.title h1,
.title p.subline {
  line-height: 1; }

.title p.subline {
  font-size: 1.75em; }

/* Content */
.content {
  margin: 0 auto;
  padding: 0 0 3em; }

.content > div:not(.title) {
  margin: -80px auto 0;
  max-width: 900px;
  padding: 0 1.25em; }

.content > div:not(.title) p {
  margin: 0 auto 1.5em auto; }

.content > div:not(.title) p:first-child {
  font-size: 1.35em; }

.content h3 {
  margin: 0;
  font-size: 1.4em; }

.content blockquote {
  padding: 0.25em;
  font-style: italic;
  font-size: 1.65em;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4; }

.content blockquote::before {
  content: '\201C'; }

.content blockquote::after {
  content: '\201D'; }

/* -------------------------- */
/* Push */
/* -------------------------- */
.intro-effect-push:not(.notrans) .header,
.intro-effect-push:not(.notrans) > .title,
.intro-effect-push:not(.notrans) .content > div {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

.intro-effect-push:not(.notrans) .header {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s; }

.intro-effect-push .codrops-demos a {
  color: #fdb415;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.intro-effect-push .header {
  position: absolute;
  z-index: 1500; }

.intro-effect-push > .title {
  position: relative;
  top: auto;
  left: auto;
  padding: 6em 1em 2em; }

.intro-effect-push .content > div {
  margin-top: 50px;
  color: #b2b2c0; }

.intro-effect-push > .title,
.intro-effect-push .content > div {
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
  opacity: 0; }

.intro-effect-push.modify > .title,
.intro-effect-push.modify .content > div {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.intro-effect-push.modify .header {
  opacity: 0;
  -webkit-transform: translateY(-100%) scale(0.9);
  transform: translateY(-100%) scale(0.9); }

/* Delays */
.intro-effect-push.modify:not(.notrans) > .title {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.intro-effect-push.modify:not(.notrans) .content > div {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s; }

/* Media Queries */
@media screen and (max-width: 47em) {
  .title, .content {
    font-size: 70%; }

  .codrops-demos a {
    font-size: 80%; }

  .intro-effect-side .title {
    width: 100%;
    padding: 0 1em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  .intro-effect-side.modify .bg-img::before {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }

  .intro-effect-side .bg-img::after {
    border-left-width: 0px;
    border-right-width: 0px;
    right: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.1); }

  .intro-effect-side.modify .bg-img::after {
    background: rgba(255, 255, 255, 0.8); }

  .intro-effect-sidefixed .content {
    width: 100%;
    margin-left: auto; }

  .intro-effect-sidefixed .bg-img::after {
    width: 95%; } }
@media screen and (max-width: 27em) {
  .intro-effect-jam3 .content {
    padding: 0 2em 5em; }

  .intro-effect-grid .grid li h2 {
    display: none; }

  .intro-effect-push .header .title {
    top: 60px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

  .title, .content {
    font-size: 50%; } }
.fixed {
  position: fixed;
  background: #ffffff;
  border-bottom: 2px solid #fdb415;
  width: 100%;
  padding: 0.2em;
  z-index: 10000; }
