/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

body {
  background: white;
  color: black;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Titillium Web", sans-serif; }

a {
  color: #fdb415;
  text-decoration: none; }
  a:hover {
    color: #ee3025; }

.social-buttons {
  position: absolute;
  right: 0;
  top: 100px; }

.social {
  background-color: #fdb415;
  padding: 1em;
  text-align: center; }
  .social:hover {
    background-color: #ee3025; }
  .social a {
    color: white;
    font-size: 1em;
    font-family: "SSSocial"; }
  @media screen and (max-width: 470px) {
    .social {
      display: none; } }

#nav {
  background: #fdb415;
  width: 100%;
  padding: 0.4em;
  z-index: 1000;
  position: relative; }
  @media screen and (max-width: 870px) {
    #nav {
      padding: 0.2em; } }
  @media screen and (max-width: 470px) {
    #nav {
      display: none; } }

li {
  display: inline-block;
  padding: 0; }

nav.links {
  text-align: center;
  position: relative;
  padding: 0 2em; }
  nav.links a {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 0.3em;
    display: inline-block;
    margin: 0 .5em;
    white-space: nowrap;
    color: white;
    vertical-align: middle; }
    nav.links a:hover {
      color: #ee3025; }
    @media screen and (max-width: 870px) {
      nav.links a {
        padding: 0;
        margin: 0.2em;
        font-size: 1em; } }
    @media screen and (max-width: 550px) {
      nav.links a {
        padding: 0;
        margin: 0.2em;
        font-size: .7em;
        font-weight: 600; } }

a.pp-icon img {
  padding-top: .5em;
  margin: 0 2em; }
  @media screen and (max-width: 870px) {
    a.pp-icon img {
      margin: 0;
      width: 50%; } }
a.pp-icon:hover {
  opacity: 0.7; }

.bg-img img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 470px) {
    .bg-img img {
      display: none; } }

.bg-img-mobile img {
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 470px) {
    .bg-img-mobile img {
      display: block; } }

.content {
  margin: 0 auto;
  padding: 0 0 3em;
  width: 100%; }

div h1 {
  color: #ee3025;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 1em; }
  @media screen and (max-width: 470px) {
    div h1 {
      text-align: center;
      font-size: 2em; } }
div h2 {
  color: #ee3025;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1em;
  margin: 1em auto; }
  @media screen and (max-width: 470px) {
    div h2 {
      text-align: center;
      font-size: 1.5em; } }
div p {
  font-size: 1em;
  margin: 1em 0; }
  @media screen and (max-width: 470px) {
    div p {
      text-align: center; } }

.event {
  text-align: center;
  border-top: 1px solid #fdb415;
  border-bottom: 1px solid #fdb415;
  padding: 1em;
  margin: 7em auto 4em auto;
  position: relative;
  width: 60%; }
  @media screen and (max-width: 870px) {
    .event {
      margin: 4em auto;
      width: 80%; } }

.details {
  background-color: white;
  padding: 0.5em auto;
  margin: 0 auto;
  top: -50px;
  width: 45%;
  position: relative;
  margin-bottom: -5em; }
  @media screen and (max-width: 980px) {
    .details {
      top: -50px;
      margin-bottom: -6em; } }
  @media screen and (max-width: 870px) {
    .details {
      width: 60%;
      top: -40px; } }
  @media screen and (max-width: 470px) {
    .details {
      top: 0;
      position: static;
      margin-bottom: -30px; } }

.event h1, h2 {
  text-transform: uppercase; }

.event h1 {
  font-size: 3.5em;
  color: black;
  font-weight: 600; }
  @media screen and (max-width: 470px) {
    .event h1 {
      font-size: 2.5em; } }
.event h2 {
  font-size: 2em;
  color: black;
  line-height: 1em; }
  @media screen and (max-width: 980px) {
    .event h2 {
      font-size: 1.5em; } }
  @media screen and (max-width: 550px) {
    .event h2 {
      font-size: 1.2em; } }
  @media screen and (max-width: 470px) {
    .event h2 {
      font-size: 1em; } }
.event h3 {
  font-size: 1.7em;
  font-weight: 300;
  margin-top: -1em; }
  @media screen and (max-width: 980px) {
    .event h3 {
      font-size: 1.2em; } }
  @media screen and (max-width: 550px) {
    .event h3 {
      font-size: 1em; } }
  @media screen and (max-width: 470px) {
    .event h3 {
      font-size: .8em; } }

span {
  color: #fdb415; }

.judges {
  background-color: #e8ebda;
  width: 100%;
  height: 100%;
  padding-top: 1px; }

.be-a-judge {
  margin-top: 2.5em; }

.about, .bios, .prizes, .submit, .sponsors, .attend {
  width: 60%;
  margin: 4em auto; }
  @media screen and (max-width: 870px) {
    .about, .bios, .prizes, .submit, .sponsors, .attend {
      width: 80%;
      margin: 3em auto; } }

.bios {
  text-align: center; }
  .bios h1 {
    text-align: left; }
    @media screen and (max-width: 470px) {
      .bios h1 {
        text-align: center; } }

.photos {
  width: 200px;
  text-align: center;
  display: inline-block;
  margin: 1em 1em; }
  .photos h4 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600; }
  .photos img {
    width: 100%;
    height: 100%; }

.apply {
  width: 80%;
  height: 100%;
  margin: 6em auto;
  border: 1px solid #fdb415;
  position: relative;
  text-align: center; }
  .apply:before {
    position: absolute;
    content: '';
    background: url(../img/pp-submit-tr.png) no-repeat;
    width: 114px;
    height: 114px;
    right: -36px;
    top: -35px; }
  .apply:after {
    position: absolute;
    content: '';
    background: url(../img/pp-submit-bl.png) no-repeat;
    width: 183px;
    height: 183px;
    left: -56px;
    bottom: -57px; }

.submit h2 {
  font-size: 2em;
  color: #f16521;
  text-transform: none;
  line-height: 1.2em;
  margin-bottom: 1.2em; }
  @media screen and (max-width: 470px) {
    .submit h2 {
      font-size: 1.2em; } }
.submit p {
  color: #f16521; }
@media screen and (max-width: 470px) {
  .submit {
    margin: 6em auto 8em auto; } }

.submit-button {
  width: 148px;
  height: 48px;
  background: url(../img/pp-submit-button.png) no-repeat;
  margin: 3em auto 0 auto;
  text-align: center;
  padding-top: .4em; }
  .submit-button a {
    color: white;
    font-weight: 600;
    font-size: 1.2em; }
    .submit-button a:hover {
      color: #ee3025; }

.sponsor-logo {
  width: 45%;
  height: 80px;
  background-color: black;
  margin: 0 2em 2em 0;
  display: inline-block; }
  .sponsor-logo:last-child {
    margin-right: 0; }

footer {
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: .8em;
  padding: 2em;
  width: 100%; }
  @media screen and (max-width: 870px) {
    footer {
      text-align: center; } }

.m-footer {
  float: left;
  padding-top: 1em; }
  @media screen and (max-width: 870px) {
    .m-footer {
      float: none;
      padding-top: 2em; } }

.m-footer-logo {
  float: right;
  padding-top: 1em; }
  @media screen and (max-width: 870px) {
    .m-footer-logo {
      float: none;
      padding: 2em; } }

.anchor {
  display: block;
  height: 125px;
  /*same height as header*/
  margin-top: -125px;
  /*same height as header*/
  visibility: hidden; }
