footer {

  background-color: #4e4e50;
  font-size: 1em;
  width: 100%;
  position: relative;
  z-index: 10;
  font-family: $gotham;
  line-height: 1.9em;

  h1 {
    color: #b3b3b3;
    font-size: 1.2em;
    clear: left;
  }

  p {
    color: #FFF;
    font-family: $gotham;
    font-size: .95em;
    font-weight: 200;
  }

  address {
    @include clearfix;
    border-bottom: 1px solid #666;
    padding-bottom: 40px;

    h1 {
      color: #FFF;
    }
    p {
      color:#858585;
      line-height: 20px;
      margin-bottom: 0 !important;
      font-style: italic;
    }

    &:nth-child(1){
      border-bottom: none;
      padding-top: 25px;
    }
  }

  .extended {
    @include clearfix;
    display: block;
    padding: 5%;

    .logo {
      max-width: 300px;
      padding-bottom:10px;
    }

  }

  .social {
    @include clearfix;
    padding-top: 40px;
    padding-bottom: 20px;

    li {
      border-radius: 3px;
      float: left;
      padding: 3px;

      a {
        background-color: rgba(0, 0, 0, .2);
        border-radius: 2px;
        color: #FFF;
        display: block;
        font-size: 18px;
        line-height: 30px;
        padding: 7px 10px 5px 10px;
        @media(max-width: 400px) {
          background-color: rgba(0,0,0,0);
        }

        &:hover {
          background-color: rgba(0,0,0,.4);
          @media(max-width: 400px) {
            background-color: rgba(0,0,0,0);
          }
        }
      }
    }
    @media(max-width: 700px) {
      width: 220px;
      margin: 0 auto;
    }
  }

  .policies {
    font-size: 12px;
    font-weight: 500;
    li {
      display: block;
    }
    a:link, a:visited {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .left {
    float: left;
    max-width: 475px;
    width: 60%;

    p {
      padding-top: 20px;
      border-bottom: 1px solid #666;
      padding-bottom: 30px;
    }

    @media(max-width: 700px) {
      float: none;
      width: 100%;
      max-width: 1000px;

    }
  }

  .right {

    float: right;
    max-width: 550px;
    margin-right: 200px;

    @media(max-width: 1050px) {
      margin-right: 0px;
    }

    @media(max-width: 700px) {
      float: none;
      width: 100%;
      max-width: 1000px;
    }


  }





  .vertical-links {
    @include clearfix;
    margin-top: 40px;

    li {
      border-radius: 3px;
      float: left;
      height: 65px;
      margin-right: 2%;
      margin-bottom: 3%;
      text-align: center;
      width: 30%;



      img.sbn{
        margin-top: 18px;
        max-width: 100px;
        width: 100%;
      }

      img.verge{
        margin-top: 20px;
        max-width: 90px;
        width: 100%;
      }

      img.polygon{
        margin-top: 10px;
        max-width: 90px;
        width: 100%;
      }

      img.curbed{
        margin-top: 10px;
        max-width: 100px;
        width: 100%;
      }

      img.eater{
        margin-top: 20px;
        max-width: 90px;
        width: 100%;
      }

      img.racked{
        margin-top: 9px;
        max-width: 90px;
        width: 100%;
      }

      img.voxdotcom {
        margin-top: 9px;
        max-width: 82px;
        width: 100%;
      }


      a {
        background-color: rgba(0,0,0,.2);
        display: block;
        text-decoration: none;
        max-width: 140px;
        height: 65px;
        width: 100%;
        @media(max-width: 400px) {
          background-color: rgba(0,0,0,0);
        }
        &:hover {
          background-color: rgba(0,0,0,.4);
        @media(max-width: 400px) {
          background-color: rgba(0,0,0,0);
        }
        }
      }
    }

  }

  .copyright-bar {
    @include clearfix;
    padding-top: 20px;
    background-color: #181819;
    width: 100%;

    p,a {
      color:#858585;
      padding: 0px 13.5%;
      margin-bottom: 0;
      padding-bottom: 20px;


      &:nth-child(1) {
      border-bottom: none;
    }
    }

    a:hover {
      color: #f6680a;
    }


    .right {
      max-width: 375px;
      width: 40%;
    }

    .vox-links {
      position: absolute;
      right: 5%;

      @media(max-width: 700px) {
        left: 5%;
      }

    li {
      display:inline-block;
      margin-left: 25px;


      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
  }
}