// fonts

$titillium: 'Titillium Web', sans-serif;
$social: 'SSSocial';

// colors

$orange: #F5831F;
$red: #ee3025;
$white: #ffffff;
$black: #000000;
$grey: #e8ebda;
$dkorange: #f16521;

// breakpoints

$break-large: 980px;
$break-tablet: 870px;
$break-mobile: 600px;