// fonts

$titillium: 'Titillium Web', sans-serif;

// colors

$orange: #fdb415;
$red: #ee3025;
$white: #ffffff;
$black: #000000;
$grey: #e8ebda;
$dkorange: #f16521;

// breakpoints

$break-large: 980px;
$break-tablet: 870px;
$break-mobile: 470px;