@import "reset";
@import "vars";
@import "mixins";

*, *:after, *:before { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
  background: $white;
  color: $black;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  font-family: $titillium;
}

a {
  color: $orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: $red;
}

#nav {
  background: $orange;
  width: 100%;
  padding: 0.4em;
}

li {
  display: inline-block;
  padding: 0;
}

nav.links {
  text-align: center;
  position: relative;
  padding: 0 2em;
}

nav.links a {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0.3em;
  display: inline-block;
  margin: 0 0.5em;
  white-space: nowrap;
  color: $white;
  vertical-align: middle;
}

nav.links a:hover {
  color: $red;
}

a.pp-icon img {
  padding-top: .5em;
}

a.pp-icon:hover {
  opacity: 0.7;
}

.bg-img img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.content {
  margin: 0 auto;
  padding: 0 0 3em;
  width: 100%
}

div h1 {
  color: $red;
  font-size: 3em;
  text-transform: uppercase;
}

div p {
  font-size: 1em;
}

.event {
  text-align: center;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  padding: 1em;
  margin: 7em auto 4em auto;
  position: relative;
  width: 60%;
}

.details {
  background-color: $white;
  padding: 0.5em;
  margin: 0 auto;
  top: -80px;
  width: 50%;
  position: relative;
  margin-bottom: -5em;
}

.event h1, h2 {
  text-transform: uppercase;
}

.event h1 {
  font-size: 4em;
  color: $black;
  font-weight: 600;
}

.event h2 {
  font-size: 2.5em;
}

.event h3 {
  font-size: 2.1em;
  font-weight: 300;
}

span {
  color: $orange;
}

.judges {
  background-color: $lightorange;
  width: 100%;
  height: 100%;
  padding-top: 1px;
}

.about, .bios, .prizes, .submit, .tickets {
  width: 60%;
  margin: 4em auto;
}

.judge-pic {
  width: 20%;
  height: 150px;
  background-color: $black;
  margin-right: 2em;
  display: inline-block;
}

.judge-pic:last-child {
  margin-right: 0;
}

.judge-name {
  width: 20%;
  margin-right: 2em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.judge-name:last-child {
  margin-right: 0;
}

footer {
  height: 60px;
  background: $black;
  color: $white;
  text-transform: uppercase;
  font-size: .8em;
  padding: 1em;
  clear: both;
}