@import "reset";
@import "vars";
@import "mixins";
@import "footer";

*, *:after, *:before { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


html, body, .header {
  height: 100%;
}

body {
  background: #fff;
  color: #000000;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  font-family: $gotham;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  outline: none;
  color: $orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: $orange;
}

li {
  display: inline-block;
  padding: 0;
}

.pp-icon {
  position: relative;
  float: left;
  padding: .4em 0 0 .4em;
  margin: 0 0 0 5em;
}

.pp-icon a:hover,
.pp-icon a.current-demo {
  opacity: 0.7;
}

.codrops-demos {
  position: relative;
  float: right;
  padding: .6em .2em 0 0;
}

.codrops-demos a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 0.3em;
  display: inline-block;
  margin: 0 0.5em;
  white-space: nowrap;
  color: #fdb415;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
  opacity: 0.7;
  color: #fdb415;
}

.related {
  padding: 3em 0;
  text-align: center;
  font-size: 1.5em;
  position: relative;
}

.demo-5 .related {
  width: 60%;
  margin-left: 40%;
}

@media screen and (max-width: 40em) {

  .codrops-icon span {
    display: none;
  }

  .related {
    font-size: 80%;
  }

}


/* Header */
.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

.title {
  padding: 10em;
  text-align: center;
}

.title h1 {
  padding: 0 0 0.2em;
  color: #000000;
  font-weight: 800;
  font-size: 3.25em;
}

.title p {
  color: #000000;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 0.85em;
}

.title h1,
.title p.subline {
  line-height: 1;
}

.title p.subline {
  font-size: 1.75em;
}

/* Content */

.content {
  margin: 0 auto;
  padding: 0 0 3em;
}

.content > div:not(.title) {
  margin: -80px auto 0;
  max-width: 900px;
  padding: 0 1.25em;
}

.content > div:not(.title) p {
  margin: 0 auto 1.5em auto;
}

.content > div:not(.title) p:first-child {
  font-size: 1.35em;
}

.content h3 {
  margin: 0;
  font-size: 1.4em;
}

.content blockquote {
  padding: 0.25em;
  font-style: italic;
  font-size: 1.65em;
  font-family: $gotham;
  line-height: 1.4;
}

.content blockquote::before {
  content: '\201C';
}

.content blockquote::after {
  content: '\201D';
}

/* -------------------------- */
/* Push */
/* -------------------------- */
.intro-effect-push:not(.notrans) .header,
.intro-effect-push:not(.notrans) > .title,
.intro-effect-push:not(.notrans) .content > div {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.intro-effect-push:not(.notrans) .header {
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
}

.intro-effect-push .codrops-demos a {
  color: #fdb415;
  font-family: $gotham;
}

.intro-effect-push .header {
  position: absolute;
  z-index: 1500;
}

.intro-effect-push > .title {
  position: relative;
  top: auto;
  left: auto;
  padding: 6em 1em 2em;
}

.intro-effect-push .content > div {
  margin-top: 50px;
  color: #b2b2c0;
}

.intro-effect-push > .title,
.intro-effect-push .content > div {
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
  opacity: 0;
}

.intro-effect-push.modify > .title,
.intro-effect-push.modify .content > div {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.intro-effect-push.modify .header {
  opacity: 0;
  -webkit-transform: translateY(-100%) scale(0.9);
  transform: translateY(-100%) scale(0.9);
}

/* Delays */
.intro-effect-push.modify:not(.notrans) > .title {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.intro-effect-push.modify:not(.notrans) .content > div {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

/* Media Queries */
@media screen and (max-width: 47em) {
  .title, .content {
    font-size: 70%;
  }

  .codrops-demos a {
    font-size: 80%;
  }

  .intro-effect-side .title {
    width: 100%;
    padding: 0 1em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .intro-effect-side.modify .bg-img::before {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .intro-effect-side .bg-img::after {
    border-left-width: 0px;
    border-right-width: 0px;
    right: 0px;
    left: 0px;
    background: rgba(255,255,255,0.1);
  }

  .intro-effect-side.modify .bg-img::after {
    background: rgba(255,255,255,0.8);
  }

  .intro-effect-sidefixed .content {
    width: 100%;
    margin-left: auto;
  }

  .intro-effect-sidefixed .bg-img::after {
    width: 95%;
  }

}

@media screen and (max-width: 27em) {
  .intro-effect-jam3 .content {
    padding: 0 2em 5em;
  }

  .intro-effect-grid .grid li h2 {
    display: none;
  }

  .intro-effect-push .header .title {
    top: 60px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .title, .content {
    font-size: 50%;
  }

}

.fixed {
  position: fixed;
  background: #ffffff;
  border-bottom: 2px solid #fdb415;
  width: 100%;
  padding: 0.2em;
  z-index: 10000;
}