@import "reset";
@import "vars";
@import "mixins";

*, *:after, *:before { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
  background: $white;
  color: $black;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  font-family: $titillium;
}

a {
  color: $orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: $red;
}

#nav {
  background: $orange;
  width: 100%;
  padding: 0.4em;
}

li {
  display: inline-block;
  padding: 0;
}

nav.links {
  text-align: center;
  position: relative;
  padding: 0 2em;
}

nav.links a {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0.3em;
  display: inline-block;
  margin: 0 0.5em;
  white-space: nowrap;
  color: $white;
  vertical-align: middle;
}

nav.links a:hover {
  color: $red;
}

a.pp-icon img {
  padding-top: .5em;
  margin: 0 2em;
}

a.pp-icon:hover {
  opacity: 0.7;
}

.bg-img img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.content {
  margin: 0 auto;
  padding: 0 0 3em;
  width: 100%
}

div h1 {
  color: $red;
  font-size: 3em;
  text-transform: uppercase;
}

div p {
  font-size: 1em;
}

.event {
  text-align: center;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  padding: 1em;
  margin: 7em auto 4em auto;
  position: relative;
  width: 60%;
}

.details {
  background-color: $white;
  padding: 0.5em;
  margin: 0 auto;
  top: -80px;
  width: 50%;
  position: relative;
  margin-bottom: -5em;
}

.event h1, h2 {
  text-transform: uppercase;
}

.event h1 {
  font-size: 4em;
  color: $black;
  font-weight: 600;
}

.event h2 {
  font-size: 2.5em;
}

.event h3 {
  font-size: 2.1em;
  font-weight: 300;
}

span {
  color: $orange;
}

.judges {
  background-color: $grey;
  width: 100%;
  height: 100%;
  padding-top: 1px;
}

.about, .bios, .prizes, .submit, .sponsors {
  width: 60%;
  margin: 4em auto;
}

.photos {
  width: 20%;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin-right: 2em;
}

.judge-pic {
  width: 100%;
  height: 150px;
  background-color: $black;
}

.photos:last-child {
  margin-right: 0;
}

.apply {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid $orange;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    background: url(../img/pp-submit-tr.png) no-repeat;
    width: 114px;
    height: 114px;
    right: -36px;
    top: -35px;
  }

  &:after {
    position: absolute;
    content: '';
    background: url(../img/pp-submit-bl.png) no-repeat;
    width: 183px;
    height: 183px;
    left: -56px;
    bottom: -57px;
  }

}

.submit {

  h2 {
    font-size: 2em;
    color: $dkorange;
    text-transform: none;
    line-height: 1.2em;
    margin-bottom: 1.2em;
  }

  p {
    color: $dkorange;
  }
}


.submit-button {
  width: 148px;
  height: 48px;
  background: url(../img/pp-submit-button.png) no-repeat;
  margin: 3em auto 0 auto;
  text-align: center;
  padding-top: .4em;


  a {
    color: $white;
    font-weight: 600;
    font-size: 1.2em;

     &:hover {
      color: $red;
      }
    }

}

.sponsor-logo {
  width: 45%;
  height: 80px;
  background-color: $black;
  margin-right: 2em;
  display: inline-block;
}

.sponsor-logo:last-child {
  margin-right: 0;
}

footer {
  height: 60px;
  background: $black;
  color: $white;
  text-transform: uppercase;
  font-size: .8em;
  padding: 1em;
  clear: both;
}