.about-container {
  .about-content {
    .columns {
      display: flex;
      align-content: space-between;
      p {
        width: 46%;
        &:first-child {
          margin-right: 2%;
        }
        &:last-child {
          margin-left: 2%;
        }
      }
    }
  }
  .spacegirl {
    display: none;
    @include large {
      width: 200px;
    }
  }
}
