.content-gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  &:nth-child(even) {
    background: linear-gradient(to bottom, #3e1b5b 50%,#181543 100%);
  }

  &:nth-child(odd) {
    background: linear-gradient(to bottom, #181543 50%,#3e1b5b 100%);
  }
}

.content-size {
  min-height: 100vh;
}

.content-container {

  @include media-query {
    width: 70vw;
    align-self: flex-end;
  }
}

.content {
  padding: 2rem;

  @include media-query {
    margin: 0 auto;
    max-width: 550px;
  }
}
