.content-gradient {
  display: grid;
  align-items: center;
  justify-content: center;
  @include media-query {
    &:not(:last-child) {
      justify-content: end;
      min-height: 100vh;
    }
  }

  position: relative;

  &:nth-child(even) {
    background: linear-gradient(to bottom, $color-space-dark 30%, $color-space-darker 100%);
  }

  &:nth-child(odd) {
    background: linear-gradient(to bottom, $color-space-darker 30%, $color-space-dark 100%);
  }
}

.content-container {
  max-width: 85vw;
  @include media-query {
    max-width: 73ch;
  }
}

.content {
  padding: 2rem;

  @include media-query {
    margin: 0 auto;
  }

  .earth-and-moon {
    position: absolute;
    width: 85vw;
    top: -40vw;
    left: 0;
    right: 0;
    margin: auto;

    @include media-query {
      margin: 0;
      left: -20vw;
      top: -20vw;
      width: 60vw;
    }

    svg {
      height: 100%;
    }
  }
  .moon-spin {
    animation: orbit 300s linear infinite alternate;
  }

  .space-girl {
    display: none;

    @include media-query {
      position: absolute;
      display: block;
      left: 3vw;
      top: 5vw;
      width: 23vw;
    }

    svg {
      height: 100%;
    }
  }

  .columns {

    @include media-query {
      column-count: 2;

      p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
      }
    }
  }
}
