.content-gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  min-height: 100vh;

  &:nth-child(even) {
    background: linear-gradient(to bottom, $color-space-dark 50%, $color-space-darker 100%);
  }

  &:nth-child(odd) {
    background: linear-gradient(to bottom, $color-space-darker 50%, $color-space-darker 100%);
  }
}

.content-container {

  @include media-query {
    width: 70vw;
    align-self: flex-end;
  }
}

.content {
  padding: 2rem;

  @include media-query {
    margin: 0 auto;
    max-width: 550px;
  }

  .earth-and-moon {
    position: absolute;
    width: 85vw;
    top: -40vw;

    @include media-query {
      left: -20vw;
      top: -20vw;
      width: 60vw;
    }

    svg {
      height: 100%;
    }
  }
  .moon-spin {
    animation: orbit 300s linear infinite alternate;
  }

  .space-girl {
    display: none;

    @include media-query {
      position: absolute;
      display: block;
      left: 3vw;
      top: 5vw;
      width: 23vw;
    }

    svg {
      height: 100%;
    }
  }

  .columns {

    @include media-query {
      column-count: 2;

      p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
      }
    }
  }
}
