.header-container {
  .header-content {
    @include large {
      padding-top: 20%;
    }
    @include largest {
      padding-top: 30%;
    }
    .pixel-punch-stacked-logo {
      transform: translateX(-28px);
      width: 15em;
      height: auto;
    }
  }
  .moon {
    display: none;
    @include large {
      z-index: 2;
      display: block;
      position: absolute;
      width: 790px;
      top: 137px;
      left: -245px;
      padding-left: 710px;
      animation: orbit 20000ms linear infinite;
    }
  }
  .planet-earth {
    display: none;
    @include large {
      z-index: 1;
      display: block;
      position: absolute;
      width: 1100px;
      top: -270px;
      left: -443px;
    }
    @include largest {
      top: -270px;
      left: -20%;
    }
  }
  .satellite {
    width: 70px;
  }
}
