// ANIMATIONS

@include keyframes(grow-fadeIn) {
  0%   {@include vendor-prefix(transform, scale(.25));
        opacity: 0;}
  100% {@include vendor-prefix(transform, scale(1));
        opacity: 1;}
}

@include keyframes(fadeIn) {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@include keyframes(fadeOut) {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}