* {
  box-sizing: border-box;
}

body {
  background-color: $orange;
  color: $black;
  font-family: $base-body-font;
  font-size: $base-font-size;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;


  &.loaded {
    overflow: auto;
  }

  //To prevent the iPhone and iPad from inflating fonts
  @include media($large, max) {
      -webkit-text-size-adjust: 100%;
  }
}


.container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-top: 50px;
  text-align: center;
  a {
    margin-right: 38px;
    color: #000;
    font-size: 20px;
    padding: 11px 13px;
    background: #fff;
    border: solid 5px #fff;
    &:hover {
      border-color: black;
    }
    &:last-child {
      margin-right: 0;
    }
  } 
}

.intro {
  background-color: $orange;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.date-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.location-details {
  @media screen and (min-width: 1000px) {
    height: 15%;
    position: relative;
    top: -60px;
  }
}

.date-location_overview {
  order: 2;
  font-weight: 700;
  font-size: 2.25em;
  color: #fff;
  text-align: left;
}

.location-details_context {
  text-align: left;
  @media screen and (min-width: 1000px) {
    order: 1;
    transform: rotate(-90deg);
  }
}

.location-details_address {
  @media screen and (min-width: 1000px) {
    order: 3;
    text-align: right;
    transform: rotate(90deg);
  }
}

.button-huge {
  display: inline-block;
  background: #fff;
  border: solid 6px #000;
  box-shadow: -8px 8px 0 #000,
              -7px 7px 0 #000,
              -6px 6px 0 #000,
              -5px 5px 0 #000,
              -4px 4px 0 #000,
              -3px 3px 0 #000,
              -2px 2px 0 #000,
              -1px 1px 0 #000;
  text-transform: uppercase;
  color: #000;
  margin-top: 25px;
  padding: 10px 15px;
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
  transition: all 80ms ease-in-out;
  &:before {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
  }
  &:hover {
   color: $orange;
   box-shadow: -3px 3px 0 #000,
               -2px 2px 0 #000,
               -1px 1px 0 #000; 
  }
}

h2 {
  font-size: 54px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

.about {
  padding: 50px 0;
  font-size: 18px;
  line-height: 24px;
  background: #000;
  color: #fff;
  line-height: 1.333;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 601px) {
    max-width: 600px;
  }
}

.about .text {
  @media screen and (min-width: 601px) {
    width: 70%;
  }
}

.about .text p {
  @media screen and (min-width: 601px) {
    max-width: 26em;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

p a {
  border-bottom: solid 2px $orange;
  &:hover {
    color: $orange;
    border-bottom-width: 6px;
  }
}

.who-we-are {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 601px) {
    flex-direction: row;
    p {
      width: 48%;
    }
  }
}

.contestants {
  background: #eee;
  h2 {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: black;
    color: white;
  }
}

.contestant {
  display: flex;
  justify-content: flex-start;
  max-width: 600px;
  background: #fff;
  margin-bottom: 10px;
  &:nth-of-type(even) {
    background: #000;
    color: #fff;
    svg {
      fill: #fff !important;
    }
    .contestant_photo {
      order: 2;
    }
    .contestant_info {
      order: 1;
    }
  }
}

h3 {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
  padding: 0;
}

.contestant_photo {
  margin: 0;
  padding: 0;
  line-height: 0;
  img {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
  }
}

.contestant_info {
  display: flex;
  margin-left: 40px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.25;
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  a {
    border-width: 0;
  }
  a:hover {
    border-width: 2px;
  }
}



.get-tickets {
  font-size: 18px;
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 22em;
    line-height: 1.5;
  }
  p:last-child {
    text-align: center;
  }
  img {
    margin-top: 50px;
  }
}

footer {
  text-align: center;
  font-size: 16px;
  padding: 10px 0 50px 0;
  a {
    border-color: white;
  }
  a:hover {
    color: white;
  }
}