* {
  box-sizing: border-box;
}

img,video {
  width: 100%;
}

body {
  background-color: $default-bg;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1em;
  text-align: center;
  margin: 1em 0;
}

h1,h2,h3,
h4,h5,h6 {
  font-family: $display;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: $main;
  margin: 1em 0;
}

svg {
  height: 100%;
  width: 100%;
}

.m-date {
  bottom: 15vh;
  color: $red;
  display: block;
  font-size: 25px;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  font-family: $main;
  text-align: center;
  @media(min-width: 800px) {
    li {
      display: inline-block;
      &:after {
        content: '|';
        color: $grey;
        padding: 0 10px;
      }
      &:last-child:after{
        content: '';
      }
    }
  }
}