* {
  box-sizing: border-box;
}

img,video {
  width: 100%;
}

body {
  background-color: $default-bg; 
}

h1,h2,h3,
h4,h5,h6 {
  font-family: $display;
  font-weight: 700;
}

p {
  font-family: $main;
}