// MIXINS

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
     -moz-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
       -o-#{$name}: #{$argument};
          #{$name}: #{$argument};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content };
  @-moz-keyframes #{$name}    { @content };
  @-ms-keyframes #{$name}     { @content };
  @-o-keyframes #{$name}      { @content };
  @keyframes #{$name}         { @content };
}

// extends here so I dont need to create a new page

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin media($size, $dir: $default-direction) {
  @if ($size == retina) {
    @media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2.0) {
      @content;
    }
  } @else if ($size and $dir) {
    @media screen and (#{$dir}-width: ($size)) {
      @content;
    }
  }
}