// VARS

// colors

$red:           #D42824;
$black:         #1D1D1D;
$grey:          #C4C4C4;
$white:         #FFFFFF;
$alt-grey:      #2B2E33;

$default-bg:    #1B1C1C;

$default-color: #CFCFCF;

// fonts
$main:    'Dosis', sans-serif;
$display: 'Gentium Book Basic', serif;

// breakpoints
$break-small: 680px;
$break-small-medium: 1000px;
$break-medium: 1080px;
$break-large: 1400px;

