// VARS

// colors

$white:   #ffffff;
$black:   #000000;
$grey:    #eeeeee;
$orange:  #f5af13;


// fonts
$base-sans-serif: "Work Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$base-heading-font: $base-sans-serif;
$base-body-font: $base-sans-serif;
$base-line-height: 1.45;
$base-font-size: 16px;

$font-weight-regular: 400;
$font-weight-bold: 700;


// breakpoints
$small:  34em;
$medium: 48em;
$large:  62em;
$xlarge: 75em;
$default-direction: 'min'; // 'min' for mobile first, 'max' for desktop first.
