// VARS

// colors

$red:           #D42824;
$black:         #1D1D1D;
$grey:          #C4C4C4;
$white:         #FFFFFF;
$alt-grey:      #2B2E33;

$default-bg:    #1B1C1C;

$default-color: #CFCFCF;

// fonts
$main:    'Dosis', sans-serif;
$display: 'Gentium Book Basic', serif;

// breakpoints 
$bp-small: "(max-width: 680px)";
$bp-medium: "(max-width: 1080px)";
$bp-large: "(max-width: 1400px)";

// z-index scale
$z-1:  1;
$z-2:  2;
$z-3:  3;
$z-4:  4;
$z-5:  5;
$z-6:  6;
$z-7:  7;
$z-8:  8;
$z-9:  9;
$z-10: 10;

