<nav class="m-nav">
  <%= link_to 'about', 'about.html', :class => 'm-nav__links p-hidden' %>
  <%= link_to 'contestants', 'contestants.html', :class => 'm-nav__links p-hidden' %>
  <%= link_to 'judges', 'judges.html', :class => 'm-nav__links p-hidden'%>
  <%= link_to 'tickets', 'http://www.eventbrite.com/e/pixel-punch-a-vox-product-design-battle-tickets-18553783867', :class => 'm-nav__links p-hidden' %>
</nav>