<nav class="m-nav">
  <ul>
  <li><a href="/about.html">about</a></li>
  <li><a href="/contestants.html">contestants</a></li>
  <li><a href="/judges.html">judges</a></li>
<!--   <li><a href="/tickets">tickets</a></li>
  <li><a href="/sponsors">sponsors</a></li> -->
  </ul>
</nav>