<nav class="main-nav">
	<ul class="main-nav__ul">
		<li class="main-nav__ul__li"><a href="/index.html#about">About</a></li>
		<!-- TODO: once we have contestants and judges, reenable nav and adjust nav css -->
		<!-- <li class="main-nav__ul__li"><a href="#contestants">Contestants</a></li> -->
		<!-- <li class="main-nav__ul__li"><a href="#judges">Judges</a></li> -->
		<li class="main-nav__ul__li"><a href="https://www.eventbrite.com/e/pixel-punch-a-designers-worst-nightmare-tickets-28555090043">Get Tickets</a></li>
	</ul>
</nav>