<nav class="m-nav">
  <ul>
    <%= link_to 'about', 'about.html', :class => 'm-nav__links p-hidden' %>
    <%= link_to 'contestants', 'https://docs.google.com/a/voxmedia.com/forms/d/1hpWjoxxKU_FpP0m1PuIk9sxdBiuyM2l-qSM_xGJIBo4/viewform', :class => 'm-nav__links p-hidden', :target => "_blank" %>
    <%= link_to 'judges', 'https://docs.google.com/a/voxmedia.com/forms/d/1_E8haJeVMI0Qx_3QdGIIHfSZR6PCvugAZ6VVa7GzvRo/viewform', :class => 'm-nav__links p-hidden', :target => "_blank" %>
    <%#= link_to 'sponsors', 'sponsors.html', :class => 'm-nav__links p-hidden' %>
    <%#= link_to 'tickets', 'tickets.html', :class => 'm-nav__links p-hidden' %>
  </ul>
</nav>