<nav class="main-nav">
	<ul class="main-nav__ul">
		<li class="main-nav__ul__li"><a href="#about">About</a></li>
		<!-- TODO: once we have contestants and judges, reenable nav and adjust nav css -->
		<!-- <li class="main-nav__ul__li"><a href="#contestants">Contestants</a></li> -->
		<!-- <li class="main-nav__ul__li"><a href="#judges">Judges</a></li> -->
		<li class="main-nav__ul__li"><a href="#">Get Tickets</a></li>
	</ul>
</nav>