@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oswald|Space+Mono');

// colors
$color-white:        rgb(255,255,255);
$color-pink:         rgb(227,12,121);
$color-space-dark:   rgb(57,29,89);
$color-space-darker: rgb(22,22,65);

// font
$base-font-family:    'Space Mono', sans-serif;
$base-heading-font:   'Oswald', sans-serif;
$base-font-size:      16px !default;
$base-font-weight:    400 !default;
$base-line-height:    1.5 !default;
$base-letter-spacing: 0.035em !default;

// Media Query
$large-screen: 60em;

@mixin media-query {
  @media screen and (min-width: $large-screen) {
    @content;
  }
}

// imports
@import
  "normalize",
  "base",
  "components/body-container",
  "components/nav",
  "components/header",
  "components/content",
  "components/intro",
  "components/about",
  "components/judges",
  "components/contestants",
  "components/footer"
;
