* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;

  background: $color-space-darker;
  color: $color-white;
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

img,
video,
svg {
  max-width: 100%;
}

p {
  font-size: $base-font-size;
}

h1 {
  font-size: 3rem;
  line-height: 1rem;
  font-family: $base-heading-font;

  @include media-query {
    font-size: 4.5rem;
  }
}

// components and buttons
.sign-up-button {
   background: $color_pink;
   padding: .5em 1.4em;
   box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
   transition: border 500ms ease;
   border: 2px solid $color_pink;
   &:hover {
      border: 2px solid currentColor;
   }
}
