* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-space-darker;
  color: $color-white;
  position: relative;
  min-height: 100vh;
}

img,
video {
  max-width: 100%;
}

p {
  @include small {
    font-size: .95em;
  }
  @include medium {
    font-size: 1em;
  }
  @include large {
    font-size: 1.15em;
  }
}

// general structure
.header-container, .about-container, .judges-container, .contestants-container {
   position: relative;
   padding: 5em 0;
}

.footer-container {
   padding-top: 5em;
}

article {
  transition: ease all 500ms;
  margin: 0 auto;
  z-index: 5;
  @include small {
    width: 80vw;
    padding: 4em 0;
  }
  @include medium {
    width: 60vw;
    padding: 1em 0;
  }
  @include large {
    width: 95vw;
    max-width: 1200px;
    padding: 0 0 0 42%;
  }
  @include largest {
    width: 95vw;
    max-width: 1200px;
    padding: 0 0 0 240px;
  }
}

article a {
   color: $color_white;
   text-decoration: none;
   border-bottom: 1px solid $color_white;
   font-weight: 700;
   transition: all 80ms ease-in-out;
   &:hover {
      border-bottom-width: 6px;
   }
}

// components and buttons
.sign-up-button {
   color: $color_white;
   text-decoration: none;
   background: $color_pink;
   padding: .5em 1.4em;
   box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
   animation: floating 8000ms ease-in-out infinite;
   transition: border 500ms ease;
   border: 2px solid $color_pink;
   &:hover {
      border: 2px solid #fff;
   }
}
