@charset "utf-8";

// Defaults variables

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.25 !default;

$link-color:       #2980b9 !default;
$link-hover-color: #3498db !default;

$text-color:       #c6c6c6 !default;
$background-color: #ffffff !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Page Width
$content-width:    1100px !default;

// Media Query
$large-screen:     1132px !default;

// Transition Duration
$transition-time:  0.25s;

@mixin media-query {
  @media screen and (min-width: $large-screen) {
    @content;
  }
}

// Imports
@import
  "normalize",
  "base",
  "components/c-nav",
  "components/c-header",
  "components/c-footer",
  "components/c-body",
  "components/c-post"
;