@keyframes peekaboo {
  0% {transform: translateX(-40vw);}
  25% {transform: translateX(-17vw);}
  32% {transform: translateX(-0.5vw); transform: rotate(10deg)}
  32.5% {transform: translateX(-0.25vw); transform: rotate(10deg)}
  33% {transform: translateX(-40vw);}
  100% {transform: translateX(-40vw);}
}