* {
  box-sizing: border-box;
}

body {
  background-color: $orange;
  color: $black;
  font-family: $base-body-font;
  font-size: $base-font-size;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  @include media($large -1px, max) {
    //To prevent the iPhone and iPad from inflating fonts
    -webkit-text-size-adjust: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  word-break: break-all;
  padding-bottom: 0.25em;
  margin: 0;
  text-transform: uppercase;
  @include media($small) {
    word-break: normal;
  }
}

h2 {
  font-size: 2.75em;
  line-height: 1;
}

h3 {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
  font-weight: $font-weight-bold;
  border-bottom: solid 2px transparent;
  transition: all 80ms ease-in-out;
  &:hover {
    border-bottom-width: 6px;
  }
  &--orange-line {
    border-bottom-color: $orange;
    &:hover {
      color: $orange;
    }
  }
  &--white-line {
    border-bottom-color: $white;
    &:hover {
      color: $white;
    }
  }
}

.button {
  display: inline-block;
  background: $white;
  text-transform: uppercase;
  color: $black;
  border: solid 6px $black;
  box-shadow: -8px 8px 0 $black,
              -7px 7px 0 $black,
              -6px 6px 0 $black,
              -5px 5px 0 $black,
              -4px 4px 0 $black,
              -3px 3px 0 $black,
              -2px 2px 0 $black,
              -1px 1px 0 $black;
  margin-top: 0.85rem;
  padding: 0.95rem 0.75rem;
  font-size: 2rem;
  line-height: 1;
  font-weight: $font-weight-bold;
  text-decoration: none;
  transition: all 80ms ease-in-out;
  word-break: break-all;
  @include media($small) {
    word-break: normal;
  }
  &:before {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
  }
  &:hover {
    color: $orange;
    box-shadow: -3px 3px 0 $black,
                -2px 2px 0 $black,
                -1px 1px 0 $black;
  }
  &__arrow {
    stroke: $black;
    width: 2rem;
    height: 1.25rem;
    transition: all 80ms ease-in-out;
  }
  &:hover &__arrow {
    stroke: $orange;
  }
}

.pixel-punch-logo {
  width: 100%;
  height: auto;
}

.pixel-punch-icons {
  display: block;
  width: 100%;
  height: auto;
  @include media($small) {
    display: none;
  }
  @include media($large) {
    display: inline-block;
    width: 8em;
  }
}

.pixel-punch-icons-horizontal {
  display: none;
  @include media($small) {
    display: block;
    width: 100%;
  }
  @include media($large) {
    display: none;
  }
}

.twitter-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.ghost {
  position: fixed;
  width: 3.5em;
  height: auto;
  animation: peekaboo 60000ms infinite;
}

.hidden {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}