.about {

  .astronaut {
    position: relative;
    top: 1vw;
    left: 40vw;
    width: 10vw;
    z-index: 999;

    @include media-query {
      position: absolute;
      top: 19vw;
      left: 10vw;
      width: 10vw;
    }

    @keyframes backforth {
      0%   {transform: translateX(-20%) rotate(10deg);}
      100% {transform: translateX(40%) rotate(-10deg);}
    }

    animation: backforth 15s linear infinite alternate;

    &-container {

      @keyframes updown {
        0%   {transform: translateY(-20%) scale(.8) rotate(20deg);}
        100% {transform: translateY(30%) scale(1.5) rotate(-100deg);}
      }

      animation: updown 20s linear infinite alternate;
    }
  }

  .mars {
    position: relative;
    top: -25vw;
    left: 26vw;
    width: 30vw;
    height: 30vw;

    @include media-query {
      position: absolute;
      top: 19vw;
      left: 10vw;
      width: 20vw;
      height: 20vw;
    }
  }

}
