.content-gradient {
  position: relative;
  display: grid;
  justify-content: center;
  @include media-query {
    &:not(:last-child){justify-content: right;}
  }

  &:nth-child(even) {
    background: linear-gradient(to bottom, $color-space-dark 50%, $color-space-darker 100%);
  }

  &:nth-child(odd) {
    background: linear-gradient(to bottom, $color-space-darker 50%, $color-space-dark 100%);
  }
}

.content-size {
  min-height: 100vh;
}

.content {
  width: 84vw;
  max-width: 73ch;
  padding: 0 8vw;
  @include media-query {
    padding: 0 8vw 0 2vw;
  }
  h1 {
    margin-bottom: 1em;
  }
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  margin-bottom: 3em;
  .profile {
    margin-bottom: 3em;
  }
}