.intro {
  display: flex;
  flex-direction: column;

  justify-content: center;

  .logo {
    width: 80vw;
    margin-top: 25vw;

    @include media-query {
      width: 35vw;
      margin-top: 0vw;
      transform: translateX(-4.5vw);
    }
  }

  .earth-and-moon {
    position: absolute;
    width: 85vw;
    height: 85vw;
    top: -40vw;

    @include media-query {
      left: -20vw;
      top: -20vw;
      width: 60vw;
      height: 60vw;
    }
  }

  @keyframes orbit {
    0% {
      transform:rotate(0deg);
      transform-origin: center;
    }
    100% {
      transform:rotate(-3600deg);
      transform-origin: center;
    }
  }

  .moon-spin {
    animation: orbit 300s linear infinite alternate;
  }
}
