.intro {
  padding-bottom: 20em;
  .logo {
    max-width: 40em;
    margin-top: 40vw;
    transform: translateX(-12%);

    @include media-query {
      width: 35vw;
      margin-top: 20em;
      transform: translateX(-4.5vw);
    }
  }

  .earth-and-moon {
    position: absolute;
    width: 85vw;
    height: 85vw;
    top: -43vw;
    right: 0;
    left: 0;
    margin: auto;

    @include media-query {
      top: -20vw;
      right: auto;
      left: -20vw;
      width: 60vw;
      height: 60vw;
    }
  }

  @keyframes orbit {
    0% {
      transform:rotate(0deg);
      transform-origin: center;
    }
    100% {
      transform:rotate(-3600deg);
      transform-origin: center;
    }
  }

  .moon-spin {
    animation: orbit 300s linear infinite alternate;
  }
}
