.judges {
  .judge-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 5%;
    margin-bottom: 3em;
    .judge:nth-last-child(-n+2) {
      margin-top: 3em;
    }
  }

  .jupiter {
    position: relative;
    height: 65vw;
    width: 65vw;
    top: -5vw;
    left: 10vw;

    @include media-query {
      position: absolute;
      height: 65vw;
      width: 65vw;
      top: -5vw;
      left: -30vw;
    }
  }
}
