.judges {
  .jupiter {
    display: none;

    @include media-query {
      display: block;
      position: absolute;
      height: 65vw;
      width: 65vw;
      top: 15vw;
      left: -40vw;
    }
  }
}
