.nav {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 3vw;
  z-index: 99999999;
  display: none;
  justify-content: center;

  @include media-query {
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;

    &:after {
      content: "¯\_(ツ)_/¯";
      height: 3vw;
      display: block;
      position: absolute;
      bottom: 0;
      border-right: 1px solid rgba(255,255,255,.5);
      color: transparent;
      transform: translateX(-50%);
      z-index: -1;
    }

    &:last-of-type:after {
      content: "";
      border-right: 1px solid rgba(255,255,255,0);

    }

    &:nth-child(1){
      a {
        background: #2f7600;
        height: 2.2vw;
        width: 2.2vw;
      }
    }

    &:nth-child(2){
      a {
        background: #ab0018;
        height: 1.5vw;
        width: 1.5vw;
      }
    }

    &:nth-child(3){
      a {
        background: #ab0018;
        height: 1.5vw;
        width: 1.5vw;
      }
    }

    &:nth-child(4){
      a {
        background: #ab0018;
        height: 1.5vw;
        width: 1.5vw;
      }
    }

    a {
      display: block;
      color: transparent;
      transition: all .25s;
      border-radius: 50%;
      margin-bottom: 3vw;
    }
  }

  .nav-active {
    transform: scale(1.2);
  }
}
