---
title: 'Pixel Punch: A Vox Media Design Battle'
---

<div class="m-section">
  <div class="m-section-contents about">

    <h1>ABOUT</h1>
    <p>Join Vox Media on Thursday, October 22nd at 7pm for a thrilling night of pixel pushing at its finest.</p>

    <p>In this 2nd year of Pixel Punch, we will be challenging five brave designers do their best Van Helsing and puzzle their way through spooky challenges guaranteed to test their creativity, fortitude and ability to think on their feet. We’re excited to bring together friends, new and old, to puzzle out mysteries together. We’ll bring the spook, you bring your skills. </p>


    <h2>WHO WE ARE</h2>
    <p>Vox Media is one of the country's largest and fastest growing online publishers. Based in Washington DC, Vox Media owns and operates sites in distinct vertical categories: general news, sports, technology and culture, gaming, dining and nightlife, shopping and fashion, and design and real estate.</p>

    <p>The Vox Media product team is made up of designers, developers, operations engineers, and product and community managers, based in Washington, DC, New York, and Austin, and distributed remotely in cities from Santa Barbara, California to Springfield, Missouri.</p>

  </div>
</div>

<%= partial "partials/_svg-ghost" %>