---
title: 'Pixel Punch: A Vox Media Design Battle'
---

<%= partial "partials/_nav" %>

<%= partial "partials/_svg-pp__logo" %>

<ul class="m-date">
  <li>October 22, 2015</li>
  <li>7PM - 10PM</li>
  <li>Vox Media DC HQ</li>
</ul>