---
title: 'Pixel Punch: A Vox Media Design Battle'
---

<nav class="nav">
	<ul>
		<li><a href="#about">About</a></li>
		<li><a href="#contestants">Contestants</a></li>
		<li><a href="#judges">Judges</a></li>
		<li><a href="#">Get Tickets</a></li>
	</ul>
</nav>

<section class="intro">
  <img src="http://i.imgur.com/ezvyiUv.png" alt="Pixel Punch 3">
<div class="date-location">
  <p class="date-location_overview">
    October 25<br>6:30 – 8:30 PM<br>iStrategyLabs
    <br>
    <a class="button-huge" href="http://eventbrite.com">Get Tickets
    <svg version="1.1"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
       x="0px" y="0px" width="31.075px" height="21.667px" viewBox="0 0 31.075 21.667" enable-background="new 0 0 31.075 21.667"
       xml:space="preserve">
    <defs>
    </defs>
    <line fill="none" stroke="#000000" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="2.5" y1="10.5" x2="25.833" y2="10.5"/>
    <polyline fill="none" stroke="#000000" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" points="17.167,2.5 
      27.167,10.167 17.167,19.167 "/>
    </svg></a>
  </p>
  <p class="location-details location-details_context">
     Wonder Bread<br>Factory, Floor 1
  </p>
  <p class="location-details location-details_address">
     641 S St. NW<br>Washington, DC<br>20001
  </p>
</div>
</section>

<section class="about">
  <div class="container">
    <!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="108.425px" height="401.517px" viewBox="0 0 108.425 401.517" enable-background="new 0 0 108.425 401.517"
	 xml:space="preserve">
<defs>
</defs>
<g>
	<path fill="#FFFFFF" d="M106.503,169.849c0.204,1.565-0.243,3.138-1.328,4.33c-1.084,1.19-2.656,1.873-4.315,1.873H70.982
		c-1.652,0-3.166-0.646-4.263-1.818c-1.1-1.176-1.597-2.685-1.399-4.249c4.123-32.625,12.992-54.841,20.873-54.937
		C86.194,115.046,99.069,112.671,106.503,169.849z"/>
	<g>
		<polygon fill="#F5AA14" points="85.139,113.264 85.139,113.264 85.139,113.264 		"/>
	</g>
</g>
<g>
	<path fill="#F5AA14" d="M49.034,0C41.126,0,33.97,2.745,28.769,7.455l-7.958,7.627l0.02,0.061
		c-4.329,4.628-6.954,10.8-6.954,17.962v35.671h57.551l6.381-6.153V26.953C77.81,11.059,64.927,0,49.034,0z"/>
	<g>
		<path fill="#FFFFFF" d="M49.034,2.735c-14.846,0-26.041,10.411-26.041,24.218v32.936h52.082V26.953
			C75.075,13.146,63.88,2.735,49.034,2.735z"/>
		<path fill="#F5AA14" d="M39.769,33.466l-1.705-4.42h-1.114v4.42h-3.567V21.859h6.073c2.627,0,4.211,1.323,4.211,3.532
			c0,1.462-0.557,2.28-2.054,3.027l2.088,5.046H39.769z"/>
		<rect x="47.832" y="21.859" fill="#F5AA14" width="3.567" height="11.606"/>
		<path fill="#F5AA14" d="M62.361,29.255h-2.018v4.211h-3.602V21.859h4.941c1.792,0,2.784,0.261,3.636,0.922
			c0.8,0.644,1.288,1.671,1.288,2.784C66.607,27.776,64.919,29.255,62.361,29.255z"/>
		<path fill="#FFFFFF" d="M61.595,24.522h-1.287v2.244h1.183c1.079,0,1.566-0.365,1.566-1.148
			C63.057,24.887,62.57,24.522,61.595,24.522z"/>
		<path fill="#FFFFFF" d="M38.586,24.331h-1.635v2.227h1.513c0.957,0,1.496-0.418,1.496-1.114S39.457,24.331,38.586,24.331z"/>
	</g>
</g>
<g>
	<path fill="#F5AA14" d="M105.206,383.757c-0.981-1.323-2.442-1.98-3.904-1.98c-0.98,0-1.961,0.295-2.798,0.884l-13.689-13.603
		l8.206-8.258c1.704,0.704,3.718,0.404,5.14-0.916l5.861-4.554l-0.015-0.009c0.409-0.294,0.785-0.653,1.106-1.091
		c1.231-1.682,1.212-4.065-0.036-5.733c-0.938-1.253-2.309-1.893-3.699-1.948c-0.197-0.008-0.347-0.157-0.356-0.354
		c-0.064-1.391-0.712-2.757-1.971-3.687c-0.839-0.619-1.854-0.93-2.869-0.93c-1.014,0-2.027,0.31-2.864,0.93
		c-0.001,0.001-0.002,0.001-0.003,0.002l-6.311,4.938l0,0c-2.209,1.639-2.563,4.617-1.096,6.702l-7.996,8.046l-12.982-12.901
		c1.454-2.095,1.081-5.071-1.138-6.695c-0.832-0.609-1.835-0.912-2.838-0.912c-1.026,0-2.052,0.317-2.895,0.948l-6.314,4.941
		c-0.872,0.653-1.44,1.517-1.728,2.449c0,0-2.845,1.882-4.261,3.577c-1.336,1.6-1.241,4.059,0,5.733
		c1.639,2.209,4.617,2.563,6.702,1.096l13.689,13.603l-8.21,8.262c-0.593-0.245-1.221-0.38-1.852-0.38
		c-1.004,0-2.002,0.318-2.849,0.938l-0.011-0.022l-6.284,4.943l0.001,0.003c-0.404,0.291-0.775,0.649-1.092,1.083
		c-1.231,1.682-1.213,4.064,0.035,5.733c0.938,1.254,2.309,1.893,3.7,1.948c0.197,0.008,0.347,0.157,0.356,0.354
		c0.064,1.391,0.712,2.757,1.971,3.687c1.677,1.238,4.059,1.241,5.733,0l6.314-4.941c2.209-1.639,2.563-4.617,1.096-6.702
		l7.995-8.046l12.982,12.901c-1.454,2.094-1.081,5.07,1.138,6.695c1.682,1.231,4.064,1.213,5.733-0.035c0,0,0.001-0.001,0.001-0.001
		l6.132-4.827c0.059-0.04,0.123-0.07,0.181-0.113c1.254-0.938,1.893-2.309,1.949-3.7c0.008-0.197,0.157-0.347,0.354-0.356
		c1.391-0.064,2.757-0.712,3.687-1.971C106.444,387.813,106.448,385.431,105.206,383.757z"/>
	<g>
		<path fill="#FFFFFF" d="M96.478,353.442l1.616-1.626l1.883,1.307c0.357,0.248,0.776,0.379,1.213,0.379
			c0.399,0,1.152-0.115,1.716-0.886c0.518-0.707,0.509-1.773-0.019-2.48c-0.53-0.708-1.241-0.839-1.618-0.854
			c-1.624-0.064-2.905-1.337-2.979-2.961c-0.017-0.376-0.153-1.087-0.864-1.613c-0.345-0.255-0.787-0.395-1.245-0.395
			c-0.456,0-0.894,0.139-1.235,0.392c-1.049,0.778-1.073,2.102-0.489,2.932l1.319,1.875l-1.616,1.626l-33.364,33.575l-1.616,1.626
			l-1.883-1.307c-0.357-0.248-0.776-0.379-1.213-0.379c-0.399,0-1.152,0.115-1.716,0.886c-0.518,0.707-0.51,1.773,0.019,2.479
			c0.53,0.708,1.242,0.839,1.619,0.854c1.623,0.064,2.904,1.337,2.979,2.96c0.017,0.378,0.153,1.088,0.864,1.614
			c0.345,0.255,0.787,0.395,1.245,0.395c0.456,0,0.894-0.139,1.235-0.392c1.049-0.778,1.073-2.102,0.489-2.932l-1.319-1.875
			l1.616-1.626L96.478,353.442z"/>
		<path fill="#FFFFFF" d="M94.273,386.918l1.626,1.616l-1.307,1.883c-0.579,0.834-0.547,2.157,0.507,2.929
			c0.338,0.248,0.773,0.384,1.223,0.384c0.463,0,0.909-0.143,1.256-0.403c0.709-0.53,0.839-1.242,0.854-1.619
			c0.064-1.624,1.337-2.905,2.961-2.979c0.377-0.017,1.088-0.153,1.613-0.864c0.524-0.71,0.526-1.776,0.003-2.48
			c-0.565-0.761-1.313-0.875-1.708-0.875c-0.442,0-0.865,0.134-1.224,0.386l-1.875,1.319l-1.626-1.616l-13.689-13.603l-2.303,2.318
			L94.273,386.918z"/>
		<path fill="#FFFFFF" d="M63.001,351.237l-1.626-1.616l1.307-1.883c0.579-0.834,0.547-2.157-0.507-2.929
			c-0.338-0.248-0.773-0.384-1.223-0.384c-0.463,0-0.91,0.143-1.257,0.403c-0.708,0.53-0.839,1.241-0.854,1.618
			c-0.064,1.624-1.337,2.905-2.961,2.979c-0.377,0.017-1.087,0.153-1.613,0.864c-0.524,0.71-0.525,1.776-0.003,2.48
			c0.565,0.761,1.313,0.875,1.708,0.875c0.442,0,0.865-0.134,1.224-0.386l1.875-1.319l1.626,1.616l13.689,13.603l2.303-2.318
			L63.001,351.237z"/>
	</g>
</g>
<g>
	<g>
		<polygon fill="#F5AA14" points="86.21,113.764 86.21,113.764 86.21,113.764 		"/>
	</g>
</g>
<g>
	<path fill="#F5AA14" d="M69.905,239.148c-3.21-2.524-9.34-5.143-15.243-5.969l0.294-6.889l-8.345-0.32l-0.052,0.167l-5.167,4.847
		l-0.31,1.002c-0.333,1.076-0.561,2.058-0.69,2.95c-3.315,1.173-6.262,2.71-8.173,4.212c-4.642,0.79-9.265,3.579-12.592,8.046
		c-5.68,3.833-10.085,10.912-10.085,20.595c0,12.471,6.801,22.277,17.358,25.089c3.427,2.967,13.188,4.778,18.935,4.778h0.017
		c5.747,0,15.507-1.811,18.934-4.778c4.958-1.32,9.072-4.198,12.058-8.155c6.557-4.491,10.519-12.439,10.519-21.948
		C87.363,249.143,78.643,240.636,69.905,239.148z"/>
	<path fill="#FFFFFF" d="M52.106,228.918l-3.48-0.134c-0.721,2.798-0.344,3.953-0.1,4.25l3.408-0.107L52.106,228.918z"/>
	<g>
		<g>
			<path fill="#FFFFFF" d="M31.151,242.177c0.007-0.002,0.013-0.003,0.02-0.005C31.165,242.174,31.158,242.176,31.151,242.177z"/>
			<path fill="#FFFFFF" d="M71.342,242.301l0.003,0.001c0.688,2.062,1.615,5.199,2.371,9.048l-1.341,0.263v0l0,0l-1.342,0.264
				c-1.055-5.37-2.476-9.35-2.993-10.705l0,0c-3.526-2.679-11.096-5.528-16.97-5.528c-5.86,0-13.385,2.82-16.933,5.487
				c-0.558,1.189-2.344,5.275-3.495,11.122l-2.683-0.529c0.792-4.02,1.899-7.269,2.721-9.389
				c-8.575,2.618-13.185,12.099-13.185,20.44c0,10.281,5.08,18.504,13.135,21.702c-0.607-1.843-1.576-4.609-2.217-7.623l2.674-0.568
				c0.964,4.535,2.149,7.952,2.683,9.382h0c2.302,2.284,11.418,4.24,17.283,4.24h0.017c11.791,0,16.547-3.671,16.547-3.671
				c0.258-0.522,2.033-4.23,3.312-9.877l1.333,0.302l1.334,0.302c-0.71,3.135-1.673,5.802-2.369,7.621
				c8.21-3.12,13.401-11.414,13.401-21.808C84.628,254.401,79.983,244.874,71.342,242.301z"/>
		</g>
		<g>
			<g>
				<path fill="#F5AA14" d="M33.76,263.615l4.271-6.687c0.275-0.43,0.903-0.43,1.177,0l4.271,6.687
					c0.297,0.465-0.037,1.074-0.589,1.074h-8.542C33.797,264.689,33.463,264.08,33.76,263.615z"/>
			</g>
			<g>
				<path fill="#F5AA14" d="M58.47,263.615l4.271-6.687c0.275-0.43,0.903-0.43,1.177,0l4.271,6.687
					c0.297,0.465-0.037,1.074-0.589,1.074h-8.542C58.507,264.689,58.174,264.08,58.47,263.615z"/>
			</g>
		</g>
	</g>
</g>
<rect x="73.189" y="317.366" transform="matrix(-0.2259 0.9741 -0.9741 -0.2259 410.1993 319.0642)" fill="#F5AA14" width="10.286" height="10.286"/>
<rect x="84.189" y="83.366" transform="matrix(-0.2259 0.9741 -0.9741 -0.2259 195.7345 21.4825)" fill="#F5AA14" width="10.286" height="10.286"/>
<g>
	<path fill="#F5AA14" d="M30.504,222.162c-0.287,0-0.579-0.05-0.864-0.155c-1.296-0.478-1.959-1.914-1.481-3.21l12.512-33.961
		L0,191.631l4.955-33.136c0.204-1.365,1.467-2.307,2.843-2.103c1.365,0.204,2.307,1.477,2.103,2.843l-3.938,26.329l42.375-7.079
		L32.85,220.525C32.478,221.536,31.521,222.162,30.504,222.162z"/>
</g>
<g>
	<path fill="#F5AA14" d="M27.503,338.162c-0.329,0-0.663-0.065-0.983-0.203L1.277,327.14l19.176-12.783L0.822,296.51
		c-1.021-0.929-1.097-2.51-0.168-3.531s2.511-1.097,3.531-0.168l24.369,22.153L11.73,326.181l16.758,7.182
		c1.27,0.544,1.857,2.014,1.313,3.282C29.396,337.593,28.473,338.162,27.503,338.162z"/>
</g>
<g>
	<path fill="#F5AA14" d="M18.132,124.708c-1.148,0-2.183-0.797-2.439-1.964c-0.297-1.349,0.556-2.683,1.904-2.979l23.905-5.256
		l-8.587-21.024l31.377-2.942c1.373-0.124,2.593,0.881,2.723,2.256c0.129,1.375-0.881,2.594-2.256,2.723l-24.666,2.313l8.284,20.282
		l-29.706,6.531C18.49,124.689,18.31,124.708,18.132,124.708z"/>
</g>
<g>
	<path fill="#F5AA14" d="M24.661,376.462l-19.579-2.545l2.545-19.579l19.579,2.545L24.661,376.462z"/>
	
		<rect x="11.273" y="360.529" transform="matrix(0.1289 -0.9917 0.9917 0.1289 -348.2887 334.3073)" fill="#FFFFFF" width="9.742" height="9.742"/>
</g>
<g>
	<path fill="#F5AA14" d="M83.7,223.241c-2.132,0-4.291-0.54-6.269-1.676c-6.038-3.47-8.128-11.204-4.659-17.241
		c1.681-2.925,4.399-5.021,7.655-5.899c3.259-0.882,6.661-0.439,9.586,1.241c2.924,1.681,5.02,4.399,5.899,7.655
		c0.88,3.257,0.439,6.661-1.241,9.586C92.339,220.965,88.077,223.241,83.7,223.241z"/>
	<path fill="#FFFFFF" d="M87.522,204.001c-1.172-0.674-2.473-1.018-3.789-1.018c-0.667,0-1.339,0.088-2.001,0.267
		c-1.967,0.532-3.609,1.797-4.624,3.563c-1.016,1.768-1.282,3.823-0.751,5.791c0.532,1.967,1.798,3.609,3.564,4.624
		c3.645,2.095,8.318,0.833,10.414-2.814c1.016-1.766,1.282-3.822,0.751-5.789C90.555,206.659,89.289,205.016,87.522,204.001z"/>
</g>
<circle fill="#F5AA14" cx="31.604" cy="151.661" r="7.9"/>
<circle fill="#F5AA14" cx="47.504" cy="317.661" r="5.469"/>
<circle fill="#F5AA14" cx="7.035" cy="215.661" r="5.469"/>
<circle fill="#F5AA14" cx="95.504" cy="298.661" r="5.469"/>
<path fill="#FFFFFF" d="M90.069,116.796c0,0-4.875-5.75-10,2.25s-14.25,40.875-13,50.875c0,0-1.125,6.125,10.875,6.125
	s22.917,0,22.917,0s7.708-2.375,6.083-10.375s-4.375-23.375-8.625-34.25S90.069,116.796,90.069,116.796z"/>
<circle fill="#F5AA14" cx="7.504" cy="91.13" r="5.469"/>
<path fill="#F5AA14" d="M108.34,167.586c-2.555-17.417-9.415-53.822-22.13-53.822c-0.001,0-0.001,0-0.002,0
	c-0.028,0-0.058,0-0.086,0.001c-1.509,0.02-2.918,0.567-4.239,1.523l-0.019-0.023l-7.463,5.469l0.027,0.031
	c-10.09,6.472-14.996,37.327-16.851,52.795c-0.566,4.719,3.11,8.874,7.863,8.874h27.165c1.756,0,3.358-0.571,4.659-1.521
	l0.002,0.002l0.063-0.046c0.031-0.023,0.064-0.046,0.095-0.069l7.505-5.499c0.182-0.123,0.359-0.251,0.529-0.388l0.05-0.036
	l-0.004-0.002C107.573,173.18,108.764,170.477,108.34,167.586z M75.801,130.894c0.191-0.554,0.383-1.093,0.577-1.618
	c0.04-0.108,0.081-0.211,0.121-0.318c0.148-0.394,0.296-0.783,0.446-1.16c0.071-0.178,0.142-0.349,0.213-0.523
	c0.119-0.293,0.239-0.583,0.359-0.866c0.084-0.196,0.168-0.388,0.253-0.579c0.108-0.245,0.216-0.485,0.325-0.721
	c0.093-0.201,0.186-0.399,0.279-0.593c0.1-0.209,0.201-0.412,0.302-0.614c0.1-0.2,0.2-0.399,0.301-0.591
	c0.092-0.176,0.185-0.344,0.278-0.514c0.11-0.2,0.219-0.403,0.329-0.594c0.07-0.121,0.14-0.233,0.21-0.35
	c0.464-0.779,0.934-1.48,1.407-2.094c0.046-0.059,0.091-0.122,0.137-0.18c0.147-0.185,0.294-0.358,0.442-0.527
	c0.054-0.062,0.108-0.126,0.163-0.186c0.147-0.162,0.295-0.315,0.442-0.46c0.053-0.053,0.107-0.105,0.16-0.155
	c0.151-0.143,0.303-0.279,0.455-0.405c0.046-0.038,0.092-0.074,0.138-0.11c0.16-0.127,0.321-0.249,0.482-0.357
	c0.839-0.562,1.684-0.866,2.531-0.879c3.638,0.06,7.497,5.255,10.896,14.4H75.799C75.799,130.898,75.8,130.896,75.801,130.894z
	 M73.531,138.477c0.013-0.05,0.026-0.099,0.039-0.148c0.434-1.645,0.88-3.21,1.337-4.688c0.001-0.002,0.002-0.005,0.002-0.007
	h23.104c2.026,6.018,3.91,13.46,5.554,22.061H69.949C71.005,149.273,72.212,143.498,73.531,138.477z M104.427,172.132
	c-0.405,0.469-0.888,0.85-1.417,1.142c-0.18,0.1-0.367,0.187-0.557,0.265c-0.022,0.009-0.045,0.018-0.067,0.026
	c-0.166,0.065-0.337,0.12-0.509,0.169c-0.04,0.011-0.08,0.023-0.12,0.033c-0.159,0.04-0.321,0.07-0.484,0.095
	c-0.048,0.007-0.096,0.018-0.144,0.023c-0.206,0.025-0.413,0.041-0.623,0.041H73.339c-1.502,0-2.879-0.619-3.875-1.742
	c-1-1.127-1.452-2.573-1.272-4.071c0.403-3.361,0.846-6.587,1.322-9.682h34.561c0.55,3.056,1.073,6.238,1.559,9.553
	C105.853,169.478,105.413,170.99,104.427,172.132z"/>
</svg>

    <div class="text">
    <h2>About</h2>
    <p>Join Vox Media on Tuesday, October 25th at 6:30pm for a thrilling night of pixel pushing at its finest.</p><p>In this 3rd year of Pixel Punch, we will be challenging five brave designers do their best Van Helsing and puzzle their way through spooky challenges guaranteed to test their creativity, fortitude and ability to think on their feet. We’re excited to bring together friends, new and old, to puzzle out mysteries together. We’ll bring the spook, you bring your skills.</p><p>By attending or partcipating in Pixel Punch, you agree to abide by our <a href="#">Code of Conduct</a>.</p>
    </div>
    
    <div class="who-we-are">
      <p>Vox Media is one of the country's largest and fastest growing online publishers. Based in Washington DC, Vox Media owns and operates sites in distinct vertical categories: general news, sports, technology and culture, gaming, dining and nightlife, shopping and fashion, and design and real estate.</p><p>The Vox Media product team is made up of designers, developers, operations engineers, and product and community managers, based in Washington, DC, New York, and Austin, and distributed remotely in cities from Santa Barbara, California to Springfield, Missouri.</p></div>
  </div>
</section>

<section class="contestants">
  <div class="container">
  <h2>Contestants</h2>
  <div class="contestant">
    <figure class="contestant_photo">
      <img src="http://pixelpunch.voxmedia.com/images/avatars/dan.jpg">
    </figure>
    <div class="contestant_info">
      <h3>Dan Rader</h3>
      <p><a href="#"><!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="12px" height="9.75px" viewBox="0 0 12 9.75" enable-background="new 0 0 12 9.75" xml:space="preserve">
<defs>
</defs>
<g>
	<path d="M10.775,2.426v0.322C10.775,6,8.303,9.75,3.779,9.75C2.391,9.75,1.084,9.445,0,8.748c0.193,0.029,0.387,0.041,0.586,0.041
		c1.148,0,2.221-0.498,3.053-1.166C2.572,7.611,1.652,6.885,1.348,5.912C1.5,5.941,1.652,5.959,1.805,5.959
		c0.223,0,0.445-0.029,0.656-0.088C1.336,5.648,0.486,4.652,0.486,3.457V3.428C0.82,3.609,1.195,3.721,1.6,3.732
		C0.932,3.287,0.498,2.537,0.498,1.693c0-0.457,0.129-0.832,0.334-1.195C2.057,1.986,3.861,2.912,5.9,3.023
		C5.859,2.848,5.848,2.648,5.848,2.455C5.848,1.096,6.943,0,8.303,0c0.709,0,1.348,0.305,1.811,0.773
		c0.551-0.111,1.084-0.316,1.553-0.598c-0.182,0.574-0.568,1.061-1.084,1.365C11.086,1.482,11.555,1.348,12,1.148
		C11.666,1.652,11.25,2.08,10.775,2.426z"/>
</g>
        </svg> @danraderdesign</a></p>
      <p>Designer, Deloitte Digital</p>
      <p>Favorite scary movie: The Shining</p>
    </div>
  </div>
  
  
  <div class="contestant">
    <figure class="contestant_photo">
      <img src="http://pixelpunch.voxmedia.com/images/avatars/dan.jpg">
    </figure>
    <div class="contestant_info">
      <h3>Dan Rader</h3>
      <p><a href="#"><!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="12px" height="9.75px" viewBox="0 0 12 9.75" enable-background="new 0 0 12 9.75" xml:space="preserve">
<defs>
</defs>
<g>
	<path d="M10.775,2.426v0.322C10.775,6,8.303,9.75,3.779,9.75C2.391,9.75,1.084,9.445,0,8.748c0.193,0.029,0.387,0.041,0.586,0.041
		c1.148,0,2.221-0.498,3.053-1.166C2.572,7.611,1.652,6.885,1.348,5.912C1.5,5.941,1.652,5.959,1.805,5.959
		c0.223,0,0.445-0.029,0.656-0.088C1.336,5.648,0.486,4.652,0.486,3.457V3.428C0.82,3.609,1.195,3.721,1.6,3.732
		C0.932,3.287,0.498,2.537,0.498,1.693c0-0.457,0.129-0.832,0.334-1.195C2.057,1.986,3.861,2.912,5.9,3.023
		C5.859,2.848,5.848,2.648,5.848,2.455C5.848,1.096,6.943,0,8.303,0c0.709,0,1.348,0.305,1.811,0.773
		c0.551-0.111,1.084-0.316,1.553-0.598c-0.182,0.574-0.568,1.061-1.084,1.365C11.086,1.482,11.555,1.348,12,1.148
		C11.666,1.652,11.25,2.08,10.775,2.426z"/>
</g>
        </svg> @danraderdesign</a></p>
      <p>Designer, Deloitte Digital</p>
      <p>Favorite scary movie: The Shining</p>
    </div>
  </div>
  
  
  <div class="contestant">
    <figure class="contestant_photo">
      <img src="http://pixelpunch.voxmedia.com/images/avatars/dan.jpg">
    </figure>
    <div class="contestant_info">
      <h3>Stephanie Stamm</h3>
      <p><a href="#"><!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="12px" height="9.75px" viewBox="0 0 12 9.75" enable-background="new 0 0 12 9.75" xml:space="preserve">
<defs>
</defs>
<g>
	<path d="M10.775,2.426v0.322C10.775,6,8.303,9.75,3.779,9.75C2.391,9.75,1.084,9.445,0,8.748c0.193,0.029,0.387,0.041,0.586,0.041
		c1.148,0,2.221-0.498,3.053-1.166C2.572,7.611,1.652,6.885,1.348,5.912C1.5,5.941,1.652,5.959,1.805,5.959
		c0.223,0,0.445-0.029,0.656-0.088C1.336,5.648,0.486,4.652,0.486,3.457V3.428C0.82,3.609,1.195,3.721,1.6,3.732
		C0.932,3.287,0.498,2.537,0.498,1.693c0-0.457,0.129-0.832,0.334-1.195C2.057,1.986,3.861,2.912,5.9,3.023
		C5.859,2.848,5.848,2.648,5.848,2.455C5.848,1.096,6.943,0,8.303,0c0.709,0,1.348,0.305,1.811,0.773
		c0.551-0.111,1.084-0.316,1.553-0.598c-0.182,0.574-0.568,1.061-1.084,1.365C11.086,1.482,11.555,1.348,12,1.148
		C11.666,1.652,11.25,2.08,10.775,2.426z"/>
</g>
        </svg> @sestamm</a></p>
      <p>Senior News Artist, National Journal</p>
      <p>Favorite scary movie: American Psychog</p>
    </div>
  </div>
  </div>
</section>

<section class="get-tickets">
  <div class="container">
  <p>Admission is free but requires a ticket for entry, so RSVP today. Any further details will be sent to you at the email you sign up with on Eventbrite.</p>
  
  <p>
    <a class="button-huge" href="http://eventbrite.com">Get Tickets
    <svg version="1.1"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
       x="0px" y="0px" width="31.075px" height="21.667px" viewBox="0 0 31.075 21.667" enable-background="new 0 0 31.075 21.667"
       xml:space="preserve">
    <defs>
    </defs>
    <line fill="none" stroke="#000000" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="2.5" y1="10.5" x2="25.833" y2="10.5"/>
    <polyline fill="none" stroke="#000000" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" points="17.167,2.5 
      27.167,10.167 17.167,19.167 "/>
    </svg></a></p>
    <p>
      <img src="http://i.imgur.com/53U14QF.png" alt="Vox Media's Pixel Punch 3, 2016"></p>
  </div>
</section>
<footer>
  <p>&copy; Pixel Punch and <a href="">Vox Media</a>, 2016. <a href="#">Code of Conduct</a>. <a href="">Back to top</a>.</p>
</footer>