---
title: 'Pixel Punch: A Vox Media Design Battle'
---
<div class="m-section">
  <div class="m-section-contents">
    <h1>judges</h1>
    <div class="m-section__participants">
    <div class="photo"><%= image_tag 'avatars/alesha.jpg' %></div>
    <h2>Alesha Randolph Roy</h2>
    <a href="http://www.twitter.com/aleshacreates">@aleshacreates</a>
    <p>Graphic/UX Designer and Front-End Developer</p>
    <p><strong>Favorite scary movie:</strong> The "Saw" Series</p>
  </div>
  <div class="m-section__participants">
    <div class="photo"><%= image_tag 'avatars/chris.png' %></div>
    <h2>Chris Bishop</h2>
    <a href="http://www.twitter.com/bishopia">@bishopia</a>
    <p>Senior Creative Director, PBS KIDS Digital</p>
    <p><strong>Favorite scary movie:</strong> Gremlins</p>
  </div>
  <div class="m-section__participants">
    <div class="photo"><%= image_tag 'avatars/julian.jpg' %></div>
    <h2>Julian Haddad</h2>
    <a href="http://www.twitter.com/jlnhaddad">@jlnhaddad</a>
    <p>Lead Designer, Social Tables</p>
    <p><strong>Favorite scary movie:</strong> The Ring</p>    </div>
  <div class="m-section__participants">
    <div class="photo"><%= image_tag 'avatars/danielle.jpg' %></div>
    <h2>Danielle Theroux</h2>
    <a href="http://www.twitter.com/ladydeetee">@ladydeetee</a>
    <p>Creative Director, Eastern Foundry</p>
    <p><strong>Favorite scary movie:</strong> It Follows</p>    </div>
  </div>
</div>
