---
title: 'Pixel Punch: A Vox Media Design Battle'
---

<div class="m-section">
  <div class="m-section-contents">
    <h1>Apply To Be A Judge</h1>

<%# Commenting out for later

    <div class="m-section__participents">
      <div class="photo"></div>
      <h2>Ally</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. </p>
    </div>
    <div class="m-section__participents">
      <div class="photo"></div>
      <h2>Kelsey</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. </p>
    </div>
    <div class="m-section__participents">
      <div class="photo"></div>
      <h2>Rahmla</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. </p>
    </div>
    <div class="m-section__participents">
      <div class="photo"></div>
      <h2>Ngan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. </p>
    </div>
    <div class="m-section__participents">
      <div class="photo"></div>
      <h2>Tyson</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. </p>
    </div>
    <div class="m-section__participents">
      <div class="photo"></div>
      <h2>Matt</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. </p>
    </div>

%>

  </div>
</div>