---
title: 'Pixel Punch: A Vox Media Design Battle'
---

<div class="m-sponsors">
  <div class="m-sponsors-contents">

<%# Commenting out for later

    <h1>Sponsers</h1>
    <div class="m-sponsors__participents">
      <div class="photo"></div>
      <h2>Ally</h2>
    </div>
    <div class="m-sponsors__participents">
      <div class="photo"></div>
      <h2>Kelsey</h2>
    </div>
    <div class="m-sponsors__participents">
      <div class="photo"></div>
      <h2>Rahmla</h2>
    </div>
    <div class="m-sponsors__participents">
      <div class="photo"></div>
      <h2>Ngan</h2>
    </div>
    <div class="m-sponsors__participents">
      <div class="photo"></div>
      <h2>Tyson</h2>
    </div>
    <div class="m-sponsors__participents">
      <div class="photo"></div>
      <h2>Matt</h2>
    </div>

%>

  </div>
</div>