.m-container {
  position: relative;
  width: 100%;
  height: 100%;
  &__border {
    position: absolute;
    border: 7.5px solid #FFFFFF;
    top: 4vh;
    right: 2vw;
    left: 2vw;
    bottom: 4vh;
    height: 93vh;
    z-index: -#{$z-10};
    &:before,&:after {
      content: '';
      position: absolute;
      top: 0%;
      right: 0%;
      left: 0%;
      bottom: 0%;
    }
    .index & {
      &:before {
        @media(min-width: 680px) {
          background-image: image-url("top-left-web.svg"), image-url("right-web.svg"),image-url("left-web.svg"),image-url("kitty-pumpkin.svg");
          background-repeat: no-repeat;
          background-position: 0% 0%, 100% 100%, 0% 100%, 13.5% 100.5%;
          background-size: 5%, 54%, 10%, 20%;
          opacity: 0;
          @include vendor-prefix(animation, fadeIn .3s .3s forwards);
        }
      }
    }
    @include bp(small) {
      right: 4vw;
      left: 4vw;
    }
  }

  &__logo {
    @include vendor-prefix(transition, background-color .5s);
    background: $default-bg image-url("pp-logo-mini-outline.svg")  50% 50% no-repeat;
    background-size: 60%;
    border-radius: 50%;
    border: 2px solid $white;
    height: 8vh;
    left: 50%;
    margin-left: -4vh;
    padding-top: 1%;
    position: absolute;
    text-align: center;
    top: 1vh;
    width: 8vh;
    z-index: $z-2;
    &:before,&:after {
      content: "";
      position: absolute;
      width: 40vw;
      height: 0%;
      bottom: 25%;
      border-bottom: 2px solid #fff;
      @include bp(small) {
        width: 30vw;
      }
    }
    &:before {
      left: 115%;
    }
    &:after {
      right: 115%;
    }
    &:hover {
      background-color: $red;
    }
  }
}