.m-container {
  position: relative;
  width: 100%;
  height: 100%;
  &__border {
    position: absolute;
    border: 7.5px solid #FFFFFF;
    top: 4vh;
    right: 2vw;
    left: 2vw;
    bottom: 4vh;
    height: 93vh;
    z-index: -#{$z-10};
    &:before,&:after {
      content: '';
      position: absolute;
      top: 0%;
      right: 0%;
      left: 0%;
      bottom: 0%;
    }
    .index & {
      &:before {
        @media(min-width: 680px) {
          background-image: image-url("top-left-web.svg"), image-url("right-web.svg"),image-url("left-web.svg");
          background-repeat: no-repeat;
          background-position: 0% 0%, 100% 100%, 0% 100%;
          background-size: 5%, 54%, 10%;
          opacity: 0;
          @include vendor-prefix(animation, fadeIn .3s .3s forwards);
        }
      }
    }
    @include bp(small) {
      right: 4vw;
      left: 4vw;
    }
  }
}