.main-nav {
  margin: 0 10vw;
  word-break: break-all;
  @include media($small) {
    word-break: normal;
  }
  @include media($large) {
    max-width: $large;
    margin: 0 auto;
  }
  &__ul {
    margin-top: 3.125em;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include media($large) {
      flex-direction: row;
      // TODO: revert to space-around when nav is complete
      justify-content: center;
    }
    &__li {
      font-size: 1.15em;
      background: $white;
      border: solid 0.313em transparent;
      transition: all 80ms ease-in-out;
      margin-bottom: .5em;
      // TODO: completely remove margin on nav complete
      @include media($large) {
        margin: 0 1rem;
      }
      &:hover {
        border: solid 0.313em $black;
      }
      a {
        padding: 0.688em 0.813em;
        color: inherit;
        text-decoration: none;
        font-weight: $font-weight-bold;
        display: block;
      }
    }
  }
}