.m-section {
  &-contents {
    position: relative;
    &.about {
      p {
        max-width: 600px;
        width: 90%;
        margin: .5em auto;
      }
    }
    color: $white;
    line-height: 1.5em;
    font-size: 1.25em;
    height: 80vh;
    margin: 0 auto;
    margin-top: 8vh;
    overflow-y: auto;
    padding: .5em;
    @extend %clearfix;
    @media(max-width: $break-small) {
      font-size: 1em;
    }
    p:last-of-type {
      padding-bottom: 100px;
    }
  }

  &__participents {
    float: left; // sorry ally
    width: 16.666%;
    padding: 2vh;
    margin-top: 8vw;
    text-align: center;
    @media(max-width: $break-small) {
      width: 50%;
      margin-top: 3vw;
    }

    .photo {
      background-color: $grey;
      width: 11.5vw;
      height: 11.5vw;
      margin: 0 auto;
      @media(max-width: $break-small) {
        width: 34.5vw;
        height: 34.5vw;
      }
    }
  }
}