.m-section {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;

  &-contents {
    &.about {
      max-width: 500px;
    }
    color: $white;
    line-height: 1.5em;
    font-size: 1.25em;
    height: 65vh;
    width: 85%;
    margin: 10% auto;
    overflow-y: auto;
    padding: .5em;
    @include bp(small) {
      height: 80vh;
      margin: 20% auto 15%;
      font-size: 1em;
    }
    @extends %clearfix;
  }

  &__participents {
    float: left; // sorry ally
    width: 16.666%;
    padding: 2vh;
    margin-top: 8vw;
    text-align: center;
    @include bp(small) {
      width: 50%;
      margin-top: 3vw;
    }

    .photo {
      background-color: $grey;
      width: 11.5vw;
      height: 11.5vw;
      margin: 0 auto;
      @include bp(small) {
        width: 34.5vw;
        height: 34.5vw;
      }
    }
  }
}