.svg-pp {
  position: absolute;
  height: 55vh;
  width: 50%;
  left: 50%;
  top: 50%;
  @include vendor-prefix(transform, translate(-50%,-50%));
  opacity: 0;
  z-index: 100000;
  @include bp(medium) {
    height: 50vh;
    width: 70%;
  }
  @include bp(small) {
    top: 30%;
  }

  @include vendor-prefix(animation, fadeIn .2s .2s forwards);

  &__logo {

    $mids: 7, 10, 9, 11, 20, 3, 12, 24, 12;

    @for $i from 1 through length($mids) {
      #middle:nth-child(#{$i}) {
        @for $j from 1 through nth($mids, $i) {
          rect:nth-child(#{$j}) {
            animation: fadeOut (random(4) * 1s) ease infinite alternate;
            animation-delay: ((1s * $i) + (.5s * $j)) - 1s;
          }
        }
      }
    }

    #middle rect {
      opacity: 1;
    }
  }
}


.svg-ghost {
  position: absolute;
  width: 50%;
  top: 50vh;
  left: 50vw;
  margin-left: -25%;
  margin-top: -17%;
  opacity: 0;
  z-index: -1;

  @include vendor-prefix(animation, grow-fadeIn 1s .5s forwards);

  &__sprite {
    opacity: .1;
    #one {
      & + rect,
      & + rect + rect {
        animation: look-one 8s ease infinite alternate;
      }
    }

    #two {
      & + rect,
      & + rect + rect {
        animation: look-two 8s ease infinite alternate;
      }
    }

  }
}


